@font-face {
    font-family: 'Druk'; /*a name to be used later*/
    src: url('/fonts/DrukXXCond-Super.otf'); /*URL to font*/
}


.classname {
    font-family: 'Druk';
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: white;
    font-family: Druk;
    mix-blend-mode:difference;

}

canvas {
    background-image: linear-gradient(90deg, #E03300, rgb(89, 21, 102));  
    background-size: 1000%;
    animation: bg-animation 120s infinite alternate; 
}
@keyframes bg-animation {
    0% {background-position: left}
    100% {background-position: right}
}

/* Screen Styling */

.screen {
    background-color: #E03300;
    color: black;
    width: 1200px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    
}

.screen h1 {
    font-size: 830px;
    margin-top: 40px;
}

.finalScore {
   color: black; 
}

button {
    cursor: pointer;
    position: absolute;
    font-family: sans-serif;
    border: none;
    color: black;
    background-color: #E03300; 
    font-size: 1rem;
    padding: 20px 20px;
    margin-top: 720px;
    border-radius: 40px;
    
}
button:hover {
    background-color: white;
}
